body {
    padding: 3px 10px;
    background-color: #ffffff;
    font-family: "helvetica"; 
    color: #000000;
}
h1 { font-size: 2em; color: #000000; margin: 3px 0 10px 0; }
h2 { font-size: 1.2em; color: #000000; margin: 3px 0 10px 0; }
hr { border: 0; border-bottom: 1px solid #aaa; }
textarea {
    color: white;
    background-color: #333;
    padding: 3px 3px;
}

/* EOF */
